body{
  margin: 0;
  font-family: Arial, sans-serif;

}
.app{
min-height: 100vh;
display: flex;
width: 100%;
}
.sidebar{
    width: 280px;    
    background: rgb(207, 200, 200); 
    flex-shrink: 0;
    height: 100vh;
    padding: 20px;

}
.create-btn{
  background-color: rgb(219, 76, 63);
  border-radius: 10px;
  border: none;
  padding: 15px 20px;
  color: rgb(226, 214, 214);
  margin-bottom: 20px;
  margin-left: 60px;
  cursor: pointer;
  font-size: larger;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.sidebar-menu{
  display: block;
  margin-bottom: 20px;
  
  padding: 5px 20px; 
  border-radius: 8px;
  border: none;
  margin-left: 20px;
  background-color: rgb(218, 155, 150);
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
}
h2{
  color: rgb(219, 76, 63);
  font-size: 30px;
   text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3{
  font-size: 25px;
  color: rgb(70, 68, 68);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.task-area{
  flex-grow: 1; 
  padding: 40px;
}
